## Build results
bin/
obj/
out/

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio
.vs/
.vscode/

## Rider
.idea/
*.sln.iml

## Logs
*.log

## OS files
Thumbs.db
ehthumbs.db
.DS_Store

## ASP.NET specific
appsettings.Development.json
appsettings.*.json

## Others
*.db
*.db-shm
*.db-wal
*.sqlite
*.pdb
*.pidb

## dotCover
.idea/.dotCover

## Temporary files
*.tmp
*.bak
*.swp
